*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:60px;
    color:#FFD700;
}

.hero p{
    font-size:22px;
    margin-top:20px;
    max-width:700px;
}

button{
    margin-top:35px;
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#FFD700;
    color:black;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
}
